/* 3D Model Container */
.model-container {
  aspect-ratio: 2.24;
  width: 100%;
  height: auto;
  min-height: 500px; /* ensures the model is visible on smaller screens */
  position: relative;
  overflow: hidden;
  padding-top: 80px; /* Add padding to push the canvas and model lower */
  background-color: #009d60;;
  /* border: 2px solid red; */
}
.model-text{
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 48px;
  font-weight: 600;
  color: white;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.top-subtitle {
  position: absolute;
  top: 20%; /* Adjust this value to control the spacing below the model text */
  left: 50%;
  transform: translateX(-50%);
  font-size: 18px;
  font-weight: 400;
  max-width: 700px;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

canvas {
  width: 100%;
  height: 100%; /* Increase the height to make the canvas taller */
  display: block;
  /* border: 2px solid blue; */
}
.placeholder-text {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: #666;
  text-align: center;
}

  /*Green Main Section*/
  .green-section01 {
    background-color: #009d60;
    display: flex;
    min-height: auto;
    width: 100%;
    padding: 20px 20px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: auto;
  }