/**************Nav Bar Styles *****************/
.nav-container {
    display: flex;
    align-items: center;
    gap: 102px;
    padding: 10px 28px;
    margin: 20px;
    justify-content: space-around;
    border-bottom: solid #75d481;
  }
  
  .brand-logo {
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    font-size: 128px;
    color: #009d60;
    margin: 0;
    text-decoration: none;
  }
  
  .nav-links {
    display: flex;
    gap: 102px;
  }
  
  .nav-link {
    font-weight: 400;
    font-size: 24px;
    color: #000;
    text-decoration: none;
  }
  .nav-link:hover {
    color: #009d60;
  }